# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.development
.env.production

# React Native
.expo/
.expo-shared/
android/.gradle/
android/app/build/
android/build/
ios/Pods/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build files
dist/
build/